extends layout 

block content  
  title #{title}

  div(class="container mx-auto flex items-center justify-center")
    div(class="w-full pt-2 md:p-4") 
      div(class="mx-auto md:p-6 sm:w-3/4")
        h1(class="text-2xl font-bold text-indigo-500 text-centr mb-4 text-center") Sign-up
        div(class="bg-while shadow-md rounded md:px-8 pt-6 pb-8 mt-4")
          form(action="" method="POST")
            div(class="mb-8")
              label(for="username" class="lable")
                sapn(class="text-red-500") &nbsp;*
                span(class="ml-1") username 
              div(class="input-container")
                div(class="svg-constainer")
                
                - let usernameError = []
                if errors
                  - usernameError = errors.filter(error => error.param === "username")
                input(type="text" name="username" id="username" placeholder="username" class="input" value=undefined==user ? "" : user.username class=usernameError.length !== 0 ? "error_input" : "")
                
                if usernameError.length !== 0
                  strong(class="error_msg") #{usernameError[0].msg}

            div(class="mb-8")
              label(for="password" class="lable")
                sapn(class="text-red-500") &nbsp;*
                span(class="ml-1") password  
              div(class="input-container")
                div(class="svg-constainer")
                  
                - let passwordError = []
                if errors
                  - passwordError = errors.filter(error => error.param === "password")
                input(type="password" name="password" id="password" placeholder="*******" class="input" value=undefined==user ? "" : user.password class=passwordError.length !== 0 ? "error_input" : "")
              
                if passwordError.length !== 0
                  strong(class="error_msg") #{passwordError[0].msg}
            
            div(class="mb-8")
              label(for="confirmpassword" class="lable")
                sapn(class="text-red-500") &nbsp;*
                span(class="ml-1") confirm password  
              div(class="input-container")
                div(class="svg-constainer")
                  
                - let confirmError = []
                if errors
                  - confirmError = errors.filter(error => error.param === "confirmpassword")
                input(type="password" name="confirmpassword" id="confirmpassword" placeholder="*******" class="input" value=undefined==user ? "" : user.confirmpassword class=confirmError.length !== 0 ? "error_input" : "")
                if confirmError.length !== 0
                  strong(class="error_msg") #{confirmError[0].msg}              

            div(class="mb-4")
              div(class="form-btn-container")
                button(type="submit" class="form-btn") Register
                div 
                  span(class="text-sm") Already have an account? 
                  a(href="/users/login" class="another-action") Log in